/* Estilo del Modal */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  height: 100%;
  width: 400px; /* Ancho del modal */
  overflow: auto;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: transform 0.3s ease-in-out;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal p {
  font-size: 18px;
  margin: 10px 0;
}

.modal .btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.modal .btn-view-cart {
  background-color: #000;
  color: #fff;
}

.modal .btn-checkout {
  background-color: #ff4d4d;
  color: #fff;
}

/* Mostrar el modal */
.modal.show {
  display: block;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .modal {
    width: 100%;
  }
}


.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Page Header */
.page-header {
  background: #f8f9fa;
  padding: 50px 0;
}

.page-header h1 {
  font-size: 2.5rem;
  color: #343a40;
  text-align: center;
}

/* Form Styles */
form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form .form-label {
  font-weight: 600;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.form-select {
  border-radius: 4px;
  border: 1px solid #ced4da;
}

button[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Display and Hide Sections */
#deliveryAddress, #pickupDetails, #paymentDetails {
  display: none;
}